.idea
.parcel-cache
src
docs
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.prettierrc.json
jest.config.js
package-lock.json
yarn.lock
dts-bundle-generator.config.json
esbuild.config.js
tsconfig.json
tsconfig.eslint.json
tsconfig.build.json
tsconfig.types.json
*.tgz
node_modules
coverage
CHANGELOG.md
.github
README.md
