:root {
  --vp-c-brand: #3178C6;
  --vp-c-brand-light: #1348A4;
  --vp-c-brand-lighter: #1348A4;
  --vp-c-brand-dark: #3178C6;
  --vp-c-brand-darker: #3178C6;
  --vp-c-brand-dimm: hsl(35, 0%, 21%);
}
