:root {
  --vp-c-brand: #3178c6;
  --vp-c-brand-light: #1348a4;
  --vp-c-brand-lighter: #1348a4;
  --vp-c-brand-dark: #3178c6;
  --vp-c-brand-darker: #3178c6;
  --vp-c-brand-dimm: hsl(35, 0%, 21%);
}
